*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    min-height: 100vh;
}
.a1 ul li img{
    height: 50px;
}
.a1{
    background-color: red;
    width: 200px;
}
.a1 ul li a{
    font-size: 30px;
    text-decoration: none;
    color: antiquewhite;
    
}
.a1 ul li {
    margin-top: 20px;
}
.a1 h1 {
    margin-bottom: 30px;
    text-align: center;
}
@media (max-width:786px){
    .a1 ul li span  {
        display: none;
    }
}
@media (max-width:786px){
    .a1   {
       width: 80px;
    }
}
.a2 .q1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 70, 70);
   color: antiquewhite;
   padding: 0;
   margin: 1px;

}
.q1 .q2 h1{
    margin-left: 20px;
}
.q1 .q3 h1 {
    margin-right: 20px;
}
.a2{
    width: 100%;
   
}
@media (max-width:786px){
    .a2 .q1    {
       font-size: 20px;
    }}
    .a3{
        background-image: url(pexels-valeria-boltneva-1199957.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
 .b2{
    background-image: url(pexels-lala-da-19158640.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
 }


  .p2{
    background-image: url(pexels-polina-tankilevitch-4109077.jpg);
    min-height: 100vh;
    background-position: center;
background-size: cover;
 }
.p3{
    background-image: url(pexels-horizon-content-4353083.jpg);
    height: 100vh;
    background-position: center;
background-size: cover;
}
.y1{
    background-image:url(pexels-valeria-boltneva-1199957.jpg) ;
height: 100vh;
background-position: center;
background-size: cover;
}
.map{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.h2{
    text-align: center;
}
.l5{
    text-align: center;
}
.h2 h1{
    background-color: aquamarine;
    margin-bottom: 20px;
}
.h2 p {
    background-color: rgb(180, 21, 21);
}
.h2 span{
    color: blueviolet;
    font-size: 50px;
}